* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
}

#contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
}
 
#titulo{
    width: 100%;
    height: 30%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#C48DE8;
}

#nav-list{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#nav-list li{
    width: 90%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#nav-list a{
    color:#C48DE8;
    font-weight: bold;
    text-decoration: none;
}

#nav-list li:hover{
    background:#f1e9e9;
}

#home{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.burger{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -25px;
}

#home-contenido{
    width: 100%;
    padding-top: 25px;
    padding-left: 25px;
    height: calc(100vh - 4rem);
}

#home-contenido > .info {
    color: #000;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: bold;
}

#home-contenido > .info > p:nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}

#home-contenido > .info > p > span {
    color: #fff;
    background-color: purple;
    padding: 5px;
}

#home-contenido > .numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 35px 0;
    width: 380px;
} 

#home-contenido > .numbers > button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: purple;
    color: #fff;
    font-weight: bold;
    border: 3px solid purple;
    outline: none;
    cursor: pointer;
}

#home-contenido > .line {
    width: 90%;
    height: 2px;
    border: 1px dotted gray;
}

#home-contenido > .buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
}

#home-contenido > .buttons > button {
    color: #fff;
    font-weight: bold;
    padding: 10px 45px;
    outline:none;
    border: none;
    background-color: purple;
    cursor: pointer;
}

#logo{
    width: 90%;
}

.logo{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #fff;
    font-size: 2rem;
}

.logo_tag {
    width: 48px;
}